:root {
  --default-fonts: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
}

html,
body {
  font-family: var(--default-fonts);
}

p {
  margin: 0;
}

@font-face {
  font-family: 'Press Start 2P';
  font-display: swap;
  src: url("public/fonts/press-start-2p-regular.woff2") format("woff2");
}
